@model Entities.Tables.Uva

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
  <h1>
    Uvas
    <small>nova uva</small>
  </h1>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-body">
      <div>
        <div>
          <h4>Uva</h4>
          <hr />
          <dl class="dl-horizontal">
            <dt>
              @Html.DisplayNameFor(model => model.Descricao)
            </dt>

            <dd>
              @Html.DisplayFor(model => model.Descricao)
            </dd>

          </dl>
        </div>
        <p>
          <a href="@Url.Action("Edit", "Uvas", new { id = Model.Id })" title="Editar"><span class="label label-info">Editar</span></a>
          <a href="@Url.Action("Index", "Uvas", new { id = Model.Id })" title="Index"><span class="label label-info">Listar</span></a>
        </p>
        </div>
      </div>
    </div>
  </section>
