@{
  Layout = null;
}
<div class="col-lg-4">
  <div class="box box-warning">
    <div class="box-header">
      <i class="fa fa-calendar fa-fw"></i> Calendário
    </div>
    <div class="box-body">
      <div class="calendar"></div>
    </div>
  </div>
</div>
