<section class="content">
  <div class="error-page">
    <h4 class="headline text-red">400</h4>
    <div class="error-content">
      <h2><i class="fa fa-warning text-red"></i> oops! erro ao processar a solicitação <strong>):</strong></h2>
      <p>Não foi possível processar a sua solicitação.</p>
      <a class="btn btn-default btn-flat" href="@Url.Action("Index", "Home")" role="button" title="Home">Home</a>
    </div>
  </div>
</section>
