<section class="content">
  <div class="error-page">
    <h4 class="headline text-red">500</h4>
    <div class="error-content">
      <h2><i class="fa fa-warning text-red"></i> oops! algo deu <br> errado <strong>):</strong></h2>
      <p>Não foi possível completar a solicitação devido a um erro no servidor.</p>
      <a class="btn btn-default btn-flat" href="@Url.Action("Index", "Home")" role="button" title="Home">Home</a>
    </div>
  </div>
</section>
