<section class="content">
  <div class="error-page">
    <h4 class="headline text-yellow">404</h4>
    <div class="error-content">
      <h2><i class="fa fa-warning text-yellow"></i> oops! página não <br> encontrada <strong>):</strong></h2>
      <p>Não foi possível encontrar a página que você estava procurando.</p>
      <a class="btn btn-default btn-flat" href="@Url.Action("Index", "Home")" role="button" title="Home">Home</a>
    </div>
  </div>
</section>
