<section class="content">
  <div class="error-page">
    <h4 class="headline text-green">404</h4>
    <div class="error-content">
      <h2><i class="fa fa-warning text-green"></i> oops! arquivo muito <br> grande <strong>):</strong></h2>
      <p>O limite para uploads é de 5MB. Tente um arquivo menor.</p>
      <a class="btn btn-default btn-flat" href="@Url.Action("Index", "Home")" role="button" title="Home">Home</a>
    </div>
  </div>
</section>
